psycopg2-binary==2.9.10
djangorestframework==3.16.0
Django
dj-rest-auth[with_social]==7.0.1
django-allauth==65.10.0
django-cors-headers==4.7.0
requests==2.32.4
PyJWT==2.10.1
cryptography==45.0.5
django-filter==25.1
dj-database-url==3.0.1
django-tenants==3.8.0
drf-spectacular==0.28.0
gunicorn